img{
    display: flex;
    aspect-ratio: 30/9;
    border-radius: 10px;
}
.actual{
    width: 98vw;
    z-index: 3;
}
.previo{
    width: 85vw;
}
.siguiente{
    width: 85vw;
}
.non-visible{
    display: none;
}
.contenedor{
    display: flex;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 2rem;
}
.descripcion{

}